.flat-card .flat-card-link, .tile-list .tile-list-add-link {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.01438571em;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 1.04em;
}

img {
  max-height: 200px !important;
  max-width: 200px !important;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.4rem !important;
}

.h1-description {
  color: #616161;
  font-size: 1.15rem;
}

.h2-description {
  color: #616161;
  font-size: 1.01rem;
}

table th {
  font-size: 1rem;
  color: #616161;
  font-weight: 600;
  letter-spacing: 0.04338571em;
}

.material-icons {
  color: #424242;
}

.card-action {
  padding: 10px !important;
}

.divider {
  margin-bottom: 7px;
}

.btn,
.btn-flat {
  font-weight: 600;
}

label {
  font-size: 0.92rem;
  color: #616161;
  font-weight: 500;
  letter-spacing: 0.04338571em;
}

@media only screen and (min-width: 993px) {
  .sidenav-fixed {
    margin-top: 98px;
    width: 270px;
  }
}

@media only screen and (min-width: 993px) {
  .user-content-container {
    padding: 30px;
    padding-left: 310px;
  }
}

@media only screen and (min-width: 993px) {
  .input-modal {
    width: 35% !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .input-modal {
    width: 60% !important;
  }
}

@media only screen and (min-width: 993px) {
  .data-modal {
    width: 50% !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .data-modal {
    width: 70% !important;
  }
}

.flat-card {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.flat-card .flat-card-content {
  padding: 21px;
}

.flat-card .flat-card-footer {
  border-top: 1px solid #e0e0e0;
  padding: 13px 21px;
}

.tile-list {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  grid-auto-rows: minmax(210px, 1fr);
  grid-gap: 10px;
}

@media only screen and (min-width: 993px) {
  .tile-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.tile-list .btn,
.tile-list .btn-flat {
  font-size: 0.8rem;
  letter-spacing: 0.05338571em;
}

.tile-list .tile-list-add-link {
  border: 2px dashed #e0e0e0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #4d90fe;
  border-radius: 8px;
}

.tile-list .tile-list-add-link:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.btn-proceed {
  color: #4d90fe;
}

.btn-cancel {
  color: #424242;
}

.sidenav .divider {
  margin-bottom: 7px;
}

.sidenav li.sidenav-link {
  padding: 2px 6px;
}

.sidenav li.sidenav-link a,
.sidenav li.sidenav-link button {
  border-radius: 270px;
}

.selected-nav,
.selected-nav:hover {
  background-color: #b3e5fc !important;
}

.selected-nav i,
.selected-nav span,
.selected-nav:hover i,
.selected-nav:hover span {
  color: #0277bd !important;
}
/*# sourceMappingURL=base_styles.css.map */