// #region THEME COLORS

$border-color: #e0e0e0;
$hover-color: #b3e5fc; //theme-attached color
$alternate-hover-color: #f5f5f5;
$primary-color: #03a9f4; //theme-attached color
$alternate-primary-color: #0277bd; //theme-attached color

// font colors
$default-font-color: #999;
$description-font-color: #999;
$navigation-font-color: #222;
$icon-font-color: #999;
$proceed-font-color: #4d90fe; //theme-attached color

$border-radius: 8px;

// #endregion

// #region MEDIA QUERY RANGES

$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

// #endregion

// #region COMMON (Extendables)

%noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

// #endregion

// #region OVERRIDES

* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.01438571em;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 1.04em;
}

// img {
//   max-height: 200px !important;
//   max-width: 200px !important;
// }

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.4rem !important;
}

.h1-description {
  color: $description-font-color;
  font-size: 1.15rem;
}

.h2-description {
  color: $description-font-color;
  font-size: 1.01rem;
}

table {
  th {
    font-size: 1rem;
    color: #616161;
    font-weight: 600;
    letter-spacing: 0.04338571em;
  }
}

// .material-icons {
//   color: $icon-font-color;
// }

.card-action {
  padding: 10px !important;
}

.divider {
  margin-bottom: 7px;
}

.btn,
.btn-flat {
  font-weight: 600;
}

label {
  font-size: 0.92rem;
  color: $description-font-color;
  font-weight: 500;
  letter-spacing: 0.04338571em;
}

// #endregion

// #region MAIN CONTAINERS

//.navbar-fixed {
  // nav .brand-logo img {
  //   height: 64px;
  //   margin-left: 20px;
  // }

//   @media #{$large-and-up} {
//     nav .brand-logo img {
//       margin-left: 35px;
//       margin-top: 5px;
//     }
//   }
// }

.sidenav-fixed {
  @media #{$large-and-up} {
    margin-top: 98px;
    width: 270px;
  }
}

.user-content-container {
  @media #{$large-and-up} {
    padding: 30px;
    padding-left: 310px;
  }
}

// .visitor-content-container {

// }

.input-modal {
  @media #{$large-and-up} {
    width: 35% !important;
  }

  @media #{$medium-only} {
    width: 60% !important;
  }
}

.data-modal {
  @media #{$large-and-up} {
    width: 50% !important;
  }

  @media #{$medium-only} {
    width: 70% !important;
  }
}

// #endregion

// #region CONTENT COMPONENTS

.flat-card {
  background-color: white;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  //   .flat-card.header {

  //   }

  .flat-card-content {
    padding: 21px;
  }

  .flat-card-footer {
    border-top: 1px solid $border-color;
    padding: 13px 21px;
  }

  .flat-card-link {
    @extend %noselect;
  }
}

.tile-list {
  display: grid;
  overflow: hidden;
  grid-auto-rows: minmax(210px, 1fr);
  grid-gap: 10px;

  @media #{$large-and-up} {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn,
  .btn-flat {
    font-size: 0.8rem;
    letter-spacing: 0.05338571em;
  }

  .tile-list-add-link {
    @extend %noselect;
    border: 2px dashed $border-color;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $proceed-font-color;
    border-radius: $border-radius;
  }

  .tile-list-add-link:hover {
    cursor: pointer;
    background-color: $alternate-hover-color;
  }
}

.btn-proceed {
  color: #4d90fe;
}

.btn-cancel {
  color: #424242;
}

.sidenav {
  .divider {
    margin-bottom: 7px;
  }

  li.sidenav-link {
    padding: 2px 6px;
    a,
    button {
      border-radius: 270px;
    }
  }
}

.selected-nav,
.selected-nav:hover {
  background-color: $hover-color !important;

  i,
  span {
    color: $alternate-primary-color !important;
  }
}

// #endregion
